// Mixins Here

.layout(@justify, @align) {
  display: flex;
  flex-direction: flex-start;
  justify-content: @justify;
  align-items: @align;
}

.column (@justify, @align) {
  display: flex;
  flex-direction: column;
  justify-content: @justify;
  align-items: @align;
}